@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Source+Sans+Pro:wght@400;600;700&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    border: none;
    background: transparent;
    position: relative;
    margin: 0 15px 0 0;
}

.active::after {
    position: absolute;
    bottom: -5px;
    left: -5px;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #65B79A;
}