.App {
  margin: 0 auto;
  max-width: 810px;
  width: 100%;
  padding: 30px 40px;
}

@media screen and (max-width: 997px) {
  .App {
    max-width: 560px;
  }
}

@media screen and (max-width: 767px) {
  .App {
    max-width: 460px;
    padding: 10px 20px;
  }
}